.container-bg {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

#loginForm {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  background: #7468ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
p {
  color: white;
  height: 100px;
}

p {
  display: inline;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.username,
.password,
.regist-username,
.regist-password,
.regist-retype {
  height: 50px;
}

iframe {
  border: none !important;
}

.login,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#loginForm button {
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 30px;
  border-radius: 20px;
  background: white;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
